.container {
  max-width: 1366px;
  display: flex;
  gap: 20px;
  margin: 150px auto;
  width: 100%;
  justify-content: space-evenly;
}
.map {
  max-width: 1366px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  margin: 150px auto;
  width: 100%;
  font-size: 2rem;
}

.info {
  display: flex;
  flex-direction: column;
  gap: 20px;
  width: 35%;
}

.container h3 {
  color: #2e2e2e;
}

.container p {
  color: gray;
}

.form {
  max-width: 600px;
  width: 70%;
}

.overlay {
  background: linear-gradient(rgba(0, 0, 0, 0.65), rgba(0, 0, 0, 0.65)),
    url("/contacts/1.jpg");
  background-size: cover;
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-position: center;
  width: 100%;
  height: 400px;
  margin-bottom: 40px;
}

.title {
  position: relative;
  top: 120px;
  text-align: center;
  font-size: 2.6rem;
  color: #fff;
}

@media (max-width: 921px) {
  .container {
    flex-direction: column;
    width: 65%;
    margin: 50px auto;
  }
}
