/* Categoies */
.container {
  display: flex;
  flex-direction: column;
  border-radius: 1px;
  position: relative;
}

.img {
  background-color: rgba(0, 0, 0, 0.178);
}

.img img {
  opacity: 0.5;
  z-index: -10;
}

.info {
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  padding: 10px 20px;
  position: absolute;
  color: white;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.info h3 {
  font-size: 42px;
  text-align: center;
}
