.container {
  display: flex;
  flex-direction: column;
  color: #2e2e2e;
  text-decoration: none;
  width: 350px;
  border-radius: 1px;
  box-shadow: rgb(0 0 0 / 12%) 0px 8px 24px 0px;
}

.container:hover {
  color: #2e2e2e;
}

.info {
  padding: 15px 0 25px 20px;
}
.info:hover {
  color: #6d6d6d;
}
.info div:nth-child(1) {
  font-weight: bold;
}
