.container {
  max-width: 1366px;
  margin: auto;
  position: relative;
}

.products {
  margin: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 25px;
  margin-bottom: 50px;
}

.title p {
  margin: 0;
}

.title {
  font-size: 42px;
  font-weight: 600;
  color: #2e2e2e;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 50px;
}
.categories {
  display: flex;
  gap: 25px;
  justify-content: center;
  align-items: center;
}
/* Categoies */
.category {
  font-size: 1.6rem;
  text-align: center;
}
.category h2 {
  margin-bottom: 30px;
}
.carts {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 25px;
  margin-top: 50px;
  margin-bottom: 50px;
  flex-wrap: wrap;
}

.cart {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 350px;
  height: 100px;
  background-color: #2e2e2e;
  color: white;
  cursor: pointer;
}

.btn {
  width: 120px;
  text-align: center;
  border-radius: 1px;
  padding: 8px 12px;
  cursor: pointer;
  color: white;
  margin-top: -20px;
}

.btn:hover {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

@media (max-width: 920px) {
  .posts {
    max-width: 90%;
  }
  .carts {
    flex-direction: column;
    flex: 1;
  }
}
