.container {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 80vh;
}
.container section {
  width: 100%;
  max-width: 420px;
  min-height: 400px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  color: #2e2e2e;
  padding: 1rem;
}
.container form {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  flex-grow: 1;
  padding-bottom: 1rem;
}
.container p {
  background-color: #2e2e2e;
  color: #fff;
  padding-left: 10px;
}
.container a,
.container a:visited {
  color: #2e2e2e;
}

.container input[type="text"],
.container input[type="password"],
.container input[type="email"],
.container button,
.container textarea {
  font-family: "Nunito", sans-serif;
  font-size: 22px;
  padding: 6px 16px;
  border-radius: 4px;
  outline: none;
  border: #2e2e2e 2px solid;
}
.container button {
  background-color: #2e2e2e;
  margin-top: 1rem;
  color: #fff;
  cursor: pointer;
}
.container label {
  margin-top: 1rem;
}

.instructions {
  font-size: 0.75rem;
  border-radius: 0.5rem;
  background: #000;
  padding: 10px;
  position: relative;
  bottom: -10px;
}

.instructions > svg {
  margin-right: 0.25rem;
}

.offscreen {
  position: absolute;
  left: -9999px;
}

.hide {
  display: none;
}

.valid {
  color: limegreen;
  margin-left: 0.25rem;
}

.invalid {
  color: red;
  margin-left: 0.25rem;
}

.errmsg {
  color: red;
  font-weight: bold;
  padding: 0.5rem;
  margin-bottom: 0.5rem;
}

.line {
  display: inline-block;
}
