.table {
  border-collapse: collapse;
  margin: 25px 0;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
  width: 100%;
}
.table thead tr {
  background-color: #009879;
  color: #ffffff;
}
.table th,
.table td {
  text-align: left;
  padding: 12px 15px;
}
.table tbody tr {
  border-bottom: 1px solid #dddddd;
}

.table tbody tr:nth-of-type(even) {
  background-color: #f3f3f3;
}

.table tbody tr:last-of-type {
  border-bottom: 2px solid #009879;
}

.table button {
  border: none;
  padding: 6px 16px;
  border-radius: 4px;
  color: white;
}
.update {
  background-color: #009879;
}
.delete {
  background-color: red;
}
